@using Microsoft.AspNetCore.Http
@using DominicanBanking.Core.Application.Helpers
@using DominicanBanking.Core.Application.DTOS.Account
@inject IHttpContextAccessor httpContextAccessor
@{var User = httpContextAccessor.HttpContext.Session.Get<AuthenticationResponse>("user");
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - DominicanBanking</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" crossorigin="anonymous" referrerpolicy="no-referrer" />    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/cdb.min.css"/>
</head>
<body>
    @if (User != null)
    {
        <div class="container_Home">
                                        @{var isAdmin = User.Roles.Any(r => r == "ADMINISTRATOR");}
            <nav class="navbar navbar-expand-lg navbar-light bg-primary text-white">
                <div class="container-fluid">
                    <a class="nav_item1" asp-action="@(isAdmin?"DashBoard":"Client")" asp-controller="Home"><i class="fa fa-building-columns fa-sm" aria-hidden="true"></i> Banking </a>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse d-sm-inline-flex justify-content-between" id="navbarNavDropdown">
                        <ul class="navbar-nav">
                            @if(isAdmin){
                            <li class="nav-item dropdown">
                                <a class="nav_item dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                    <i class="fa fa-user fa-sm me-2"></i>User Manager
                                </a>

                                <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                                    <li><a class="dropdown-item" asp-action="UserList" asp-controller="User">User List</a></li>
                                    <li><a class="dropdown-item" asp-action="Register" asp-controller="User">Create</a></li>
                                    <li><a class="dropdown-item" asp-action="Create" asp-controller="UserProduct">Add Product</a></li>
                                </ul>
                            </li>
                            <li class="nav-item dropdown">
                                <a class="nav_item dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                    <i class="fa fa-user fa-sm me-2"></i>User Product
                                </a>

                                <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                                    <li><a class="dropdown-item" asp-action="Index" asp-controller="UserProduct">List</a></li>
                                    <li><a class="dropdown-item" asp-action="Create" asp-controller="UserProduct">Create</a></li>
                                </ul>
                            </li>
                            }
                            else{
                            <li class="nav-item dropdown">
                                <a class="nav_item dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                    <i class="fa-solid fa-money-bill fa-sm me-2"></i>Payments
                                </a>

                                <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                                    <li><a class="dropdown-item" asp-action="Express" asp-controller="Payment">Express Payment</a></li>
                                    <li><a class="dropdown-item" asp-action="CreditCard" asp-controller="Payment">Credit Card Payment</a></li>
                                    <li><a class="dropdown-item" asp-action="Loan" asp-controller="Payment">Loan Payment</a></li>
                                    <li><a class="dropdown-item" asp-action="Beneficiary" asp-controller="Payment">Beneficiary Payment</a></li>
                                </ul>
                            </li>
                            <li class="nav-item ms-2">
                                <a class="nav_item" asp-action="Index" asp-controller="Beneficiary">
                                 <i class="fas fa-piggy-bank fa-sm ms-1"></i>
                                 Beneficiary
                                 </a>
                            </li>
                            <li class="nav-item ms-3">
                                <a class="nav_item" asp-action="New" asp-controller="CashAdvance">
                                 <i class="fab fa-cc-visa fa-sm ms-1"></i>
                                 Cash Advances
                                 </a>
                            </li>
                             <li class="nav-item ms-3">
                                <a class="nav_item" asp-action="Create" asp-controller="Transfer">
                                 <i class="fas fa-arrow-right-arrow-left fa-sm ms-1"></i>
                                 Transfer
                                 </a>
                            </li>

                            }
                        </ul>
                        <ul class="navbar-nav">

                            <li class="nav-item dropdown">
                                <a class="nav_item dropdown-toggle me-3" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                    <i class="fa fa-power-off fa-sm me-2" aria-hidden="true"></i>@User.FirstName @User.LastName
                                </a>

                                <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                                    <li><a class="dropdown-item" asp-action="LogOut" asp-controller="User">Logout</a></li>

                                </ul>
                            </li>

                        </ul>
                    </div>
                </div>
            </nav>
        </div>
        }
    <div class="containerr">
        <main role="main">
            @RenderBody()
        </main>
    </div>

        @if (User != null)
    {
        <footer class="text-center border-top h-100 bg-primary text-white mt-5">
            ❤ @DateTime.Now.Year ~ Dominican Banking
    </footer>
    }
    @*<footer class="border-top footer text-muted">
            <div class="container">
                &copy; 2022 - DominicanBanking - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
            </div>
        </footer>*@
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/lib/bootstrap/dist/js/cdb.min.js"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
